/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext');

$font : 'Quicksand', sans-serif;

$light: 300;
$normal: 400;
$semi: 500;
$bold: 700;


// General Colors
$primaryColor: #26A5C0;

// Gradient Colors
$gradientDark: #2DC5C6;
$gradientLight: #1F7CC0;

//Heading Color
$headingDark: #3B566E;
$headingLight: #ffffff;

// Text Colors
$textDark: #647E95;
$textLight: #F7F8FF;

h1, h2, h3, h4, h5, h6{
    margin-bottom: 20px !important;
    color: $headingDark;
}

h1 {
	@include font($normal, 36px);
}
h2 {
	@include font($normal, 32px);
}
h3 {
	@include font($normal, 28px);
}
h4 {
	@include font($normal, 24px);
}
h5 {
	@include font($normal, 20px);
}
h6 {
	@include font($normal, 16px);
}